p, h1, h2, h3, h4, h5, h6, button {
    font-family: "Manrope", sans-serif;
    color:#505050;
}

h4 {
   color:#6b6b6b;
   font-weight: 500;
}

body {
    background-color: #f6fffe;
    background-size: cover;
    width: auto; 
    overflow-x: hidden;
    font-family: "Manrope", sans-serif;
    margin: 0px;
}

nav {
    display: flex;
    justify-content: left;
}

.nav-items {
    display: flex;
    gap: 1rem;
    padding-left: 10rem;
    padding-top: 4rem;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #4b6ec8;
  font-weight: 700;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.profile {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 320px;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 10rem;
    padding-right: 10rem;
    gap: 4rem;
}

.full-greeting {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.greeting {
    font-size: 3rem;
    font-weight: 400;
}

.name {
    font-size: 6rem;
    font-weight: 700;
    font-family: "Lora", serif;
    color: #4b6ec8;
}

.profile img {
        border-radius: 50%;
        max-width: 100%;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;        
        padding: 20px;
}

.profile .profile-picture {
    margin-bottom: 30px;
    height: 200px;
}

.content {
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 5rem;
}

.highlight {
    color: #4b6ec8;
}

.section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.entry {
    display: flex;
    align-items: center;
}

.picture {
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.picture img {
    border-radius: 1rem;
}

.info {
    padding: 1rem;
}

.iframe-wrapper {
  width: 100%;
  position: relative;
}

.iframe-wrapper iframe {
  width: 100%;
  aspect-ratio: 2 / 1; /* Width to height = 2:1 → height = 50% of width */
  border: none;
}