<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <title>{{ title }}</title>
</head>

<body>
    <div class="content">
        <div class="section">
        <h1>Hobbies</h1>
        {% for hobby in hobbies %}
            <div class="entry">
                <div class="picture">
                    <img src="static/img/{{hobby.picture}}" alt={{ hobby.title }} height="200" width="auto"/>
                </div>
                <div class="info">
                    <h2>{{ hobby.title }}</h2>
                    <p>{{ hobby.description }}</p>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</body>
</html>